node_modules/
build/
.svelte-kit/
dist/
__pycache__/
*.pyc
.env
.venv/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Logs
logs/
*.log

# System
.DS_Store

# Testing
.coverage
htmlcov/
.tox/

# DB
*.sqlite
*.sqlite3
*.db
